<%= form_for(@lecture) do |f| %>
  <% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% @lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :teacher_id %><br>
    <%= f.number_field :teacher_id %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :gakubu %><br>
    <%= f.number_field :gakubu %>
  </div>
  <div class="field">
    <%= f.label :gakka %><br>
    <%= f.number_field :gakka %>
  </div>
  <div class="field">
    <div class="field">
      <label for="term">開講ターム</label>(1,2ターム連続の場合は1ターム扱い)<br>
      <select id="term" name="lecture[term]">
        <option value="1" selected>第１ターム</option>
        <option value="2">第２ターム</option>
        <option value="3">第３ターム</option>
        <option value="4">第４ターム</option>
        <option value="0">その他</option>
      </select>
    </div>
  </div>
  <div class="field">
    <%= f.label :lec_type %><br>
    <%= f.number_field :lec_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
