<p id="notice"><%= notice %></p>


<h1>講義情報</h1>
<p>
<strong>講義名:</strong>
<%= @lecture.name %>
</p>
<p>
  <strong>担当教員:</strong>
  <%= link_to Teacher.find(@lecture.teacher_id).name, '/teachers/'+@lecture.teacher_id.to_s %>
</p>

<p>
  <strong>Gakubu:</strong>
  <%= GakubuList.find(@lecture.gakubu).name %>
</p>

<p>
  <strong>Gakka:</strong>
  <%= GakkaList.find(@lecture.gakka).name %>
</p>

<p>
  <strong>Term:</strong>
  第<%= @lecture.term %>ターム
</p>

<p>
  <strong>Type:</strong>
  <%  if @lecture.lec_type == 1 %>必修<%else%>基盤<%end%>
</p>

<hr>
<h1>投稿された過去問</h1>
<% unless current_user %><strong>
  <font color = "red"><strong>過去問を見るには<%= link_to "ログイン", new_user_session_url %>が必要です</strong></font>
</strong><% end %>
<!-- exams/showへのリンク -->
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>投稿者</th>
      <th>実施年度</th>
      <th>区分</th>
      <th>画像</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lecture.exams.each do |exam|  %>
      <tr>
        <td><%if current_user%><%= link_to User.find(exam.user_id).name, user_path(exam.user_id) %><%else%><%=User.find(exam.user_id).name%><%end%></td>
        <td><%= exam.year %></td>
        <td><%  if exam.season == 0 %>中間<%else%>期末<%end%> </td>
        <td><%if current_user %><%= link_to '閲覧', exam.image.url %><%end%></td>
        <td><%= link_to 'Show', exam %></td>
        <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
        <td><%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- ここまで -->

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
