<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @topic.tag %>
</p>

<p>
  <strong>Main text:</strong>
  <%= @topic.main_text %>
</p>

<p>
  <strong>Sub text:</strong>
  <%= @topic.sub_text %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
