<p id="notice"><%= notice %></p>

<h1><%= @user.name %>さんのマイページ</h1>

<p>
  <strong>Gakubu:</strong>
  <%= @user.gakubu %>
</p>

<p>
  <strong>Gakka:</strong>
  <%= @user.gakka %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
