<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<p>
  <strong>学部:</strong>
  <%= @user.gakubu %>
</p>

<p>
  <strong>学科:</strong>
  <%= @user.gakka %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
