<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Lecture:</strong>
  <%= @teacher.lecture_id %>
</p>

<p>
  <strong>Gakubu:</strong>
    <%= GakubuList.find(@teacher.gakubu).name %>
</p>

<p>
  <strong>Gakka:</strong>
    <%= GakkaList.find(@teacher.gakka).name %>
</p>
<hr>

<h1>担当講義一覧</h1><br>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>講義名</th>
      <th>開講学部</th>
      <th>学科</th>
      <th>施行ターム</th>
      <th>分類</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teacher.lectures.each do |lecture| %>
    <tr>
        <td><%= link_to lecture.name, lecture %></td>
        <td><%= GakubuList.find(lecture.gakubu).name %></td>
        <td><<%= GakkaList.find(lecture.gakka).name %></td>
        <td>第<%= lecture.term %>ターム</td>
        <td><%  if lecture.lec_type == 1 %>必修<%else%>基盤<%end%></td>
        <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
        <td><%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
